@import "../../styles/mixins.scss";

.footer-wrapper {
  padding-bottom: 100px;
  .footer-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px 60px;

    @include for-phone-only {
      flex-wrap: wrap;
      padding: 30px;
    }

    div {
      display: flex;
      flex-direction: column;

      @include for-phone-only {
        flex: 50%;
        flex-wrap: anywhere;
      }

      &.logo {
        @include for-phone-only {
          flex: 100%;
          margin-bottom: 10px;
        }

        img {
          width: 250px;
        }
      }

      &.small-flex {
        @include for-phone-only {
          flex: 30%;
          flex-wrap: anywhere;
        }
      }

      .section-title {
        color: $midnight;
        font-family: "proxima_nova_bold";
        font-size: 1.2rem;
        margin-bottom: 15px;
      }

      img {
        width: 36px;
      }

      a {
        color: $midnight;
        font-size: 1rem;
        margin: 10px 0;
        text-decoration: none;
        transition: all 0.2s ease-in;

        &.contact-link {
          color: $brand-blue;
          text-decoration: underline;
        }

        &:hover {
          opacity: 0.6;
          transform: translateY(-2px);
        }
      }

      address {
        font-style: normal;
        line-height: 1.8;
        padding-top: 5px;
      }
    }

    @include for-desktop-up {
      max-width: 100%;
    }

    @include for-big-desktop-up {
      max-width: 1600px;
    }
  }
}
